__pycache__/
*.py[cod]
*.class
.env
virtualenv/
venv/
ENV/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
models/*.pkl
models/*.h5
models/*.pt

# Documentation & Roadmap (local)
complete_project_Roadmap.txt
